html {
  font-family: sans-serif;
  font-size: 62.5%;
  line-height: 1.25;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-color: rgb(177, 228, 219);
}

body {
  font-size: 1.6rem;
}
